# 平行进口汽车行业调研报告

In [30]:
from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from lxml import etree
import time

## 汽车品牌名录

In [41]:
brand_url = 'http://www.autohome.com.cn/grade/carhtml/%s.html'
brand_xpath = '//dt/div/a/text()'
chars = [chr(i) for i in range(65, 91)]

In [45]:
brands = []
for alphabeta in chars:
    url = brand_url % alphabeta
    req = requests.get(url)
    if req.status_code == 200:
        tree = etree.HTML(req.text)
        if tree is not  None:
            brands = brands + tree.xpath(brand_xpath)
    time.sleep(2)

In [46]:
print(brands)

['奥迪', '阿斯顿・马丁', 'AC Schnitzer', '安凯客车', '阿尔法・罗密欧', 'ALPINA', 'ARCFOX', 'Arash', '艾康尼克', '奔驰', '本田', '宝马', '别克', '比亚迪', '宝骏', '标致', '保时捷', '北汽幻速', '北京', '北汽绅宝', '宝沃', '宾利', '奔腾', '北汽新能源', '北汽制造', '北汽威旺', '巴博斯', '布加迪', '比速汽车', '北汽道达', '长安', '长城', '长安欧尚', '昌河', '成功汽车', '长安跨越', '长安轻型车', 'Caterham', '长江EV', '大众', '东风', '东风风行', 'DS', '东风风神', '东风风光', '东南', '东风小康', '道奇', '东风风度', 'Dacia', 'DMC', '大发', '丰田', '福特', '法拉利', '福田', '菲亚特', '福迪', '福汽启腾', '福田乘用车', 'Faraday Future', 'Fisker', '广汽传祺', '观致', 'GMC', '广汽吉奥', 'GLM', 'Gumpert', '光冈', '哈弗', '海马', '黄海', '红旗', '华颂', '华泰新能源', '哈飞', '华凯', '海格', '恒天', '华泰', '汉腾汽车', '华骐', 'Hennessey', '悍马', '华利', '华普', '霍顿', 'Icona', '吉利汽车', 'Jeep', '江淮', '捷豹', '金杯', '江铃', '江铃集团轻汽', '金龙', '九龙', '金旅', '江铃集团新能源', '凯迪拉克', '克莱斯勒', '开瑞', 'KTM', '凯翼', '科尼赛克', '卡威', '卡尔森', '凯佰赫', '雷克萨斯', '路虎', '铃木', '雷诺', '林肯', '猎豹汽车', '劳斯莱斯', '兰博基尼', '陆风', '力帆汽车', '路特斯', '莲花汽车', '理念', 'LeSEE', '蓝旗亚', '朗世', '领克', '领志', '马自达', '名爵', '玛莎拉蒂', 'MINI', '迈凯伦', '摩根', '迈巴赫', '纳智捷', '南京金龙', 'nanoFLOWCELL', 'NEVS', 'Noble', '讴歌', '欧朗', '欧宝', '帕加尼', 'Polestar', '佩奇奥', '起亚', '奇瑞', '启辰', '奇点汽车', '前途', '日产', '荣威', '如虎', 'Rezvani', 'Rimac', 'Rinspeed', '瑞麒', '三菱', '斯柯达', '上汽大通', '斯巴鲁', '赛麟', '双龙', 'smart', '思铭', 'SWM斯威汽车', '世爵', 'Scion', 'SPIRRA', 'SSC', '萨博', '上海', '双环', '特斯拉', '腾势', '泰克鲁斯・腾风', 'VLF Automotive', '沃尔沃', '五菱汽车', 'WEY', '五十铃', '威兹曼', '潍柴英致', 'W Motors', '威麟', '威马汽车', '蔚来', '沃克斯豪尔', '雪佛兰', '现代', '雪铁龙', '西雅特', '小鹏汽车', '英菲尼迪', '一汽', '依维柯', '野马汽车', '驭胜', '裕路', '永源', '云度', '游侠', '众泰', '中华', '中兴', '知豆', '之诺', 'Zenvo', '正道汽车']

根据汽车之家的品牌选车, 目前中国市场在售品牌共有208个.

## 车金宝平行进口车名录

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('chejinbao_cars.csv')

In [3]:
cars.head()

,name,displacement,price,sale_type,version,fuel_type,model,chejinbao_id
0,奥迪,3.0L,67.5,现车,美规,汽油,SUV,154
1,宾利飞驰,4.0L,260.0,现车,美规,汽油,轿车,143
2,F-PACE 2.0T都市尊享版,2.0L,54.8,期车,NaN,汽油,SUV,158
3,大切诺基,3.0L,57.99,现车,美规,汽油,SUV,139
4,加版XC90,2.0L,63.5,现车,加版,汽油,SUV,202

In [4]:
cars['model'].value_counts()

SUV    136
跑车      18
MPV     11
轿车       8
皮卡       6
房车       1
Name: model, dtype: int64

车金宝上的销售主要以SUV为主, 比例高达74.7%.

In [5]:
cars['fuel_type'].value_counts()

汽油    154
柴油      3
电力      2
Name: fuel_type, dtype: int64

受限于排放标准和行驶标准的不同, 车金宝上的平行进口车仍然以汽油车为主, 柴油和新能源汽车比例很小.

In [6]:
cars['displacement'].value_counts()

3.0L     56
2.7L     28
4.0L     25
2.0L     21
3.5L     13
5.7L      7
3.6L      7
2.3L      7
6.2L      3
1.3L      2
5.0L      2
0.0L      2
5.3L      2
15.0L     1
1.7L      1
2.8L      1
5.6L      1
6.0L      1
4.6L      1
6.6L      1
Name: displacement, dtype: int64

In [9]:
# 将displacement直接清洗为float类型,便于比较
cars['displacement'] = cars['displacement'].apply(lambda x: float(x.replace('L', '')))

AttributeError: 'float' object has no attribute 'replace'

In [10]:
cars['displacement'].value_counts()

3.0     56
2.7     28
4.0     25
2.0     21
3.5     13
5.7      7
3.6      7
2.3      7
6.2      3
5.0      2
0.0      2
1.3      2
5.3      2
6.0      1
1.7      1
15.0     1
4.6      1
5.6      1
6.6      1
2.8      1
Name: displacement, dtype: int64

In [13]:
# 按照进口车关税分类, 区分开3.0L以上和以下的数量
cars[cars['displacement']<3.0].count()

name            62
displacement    62
price           62
sale_type       62
version         57
fuel_type       62
model           60
chejinbao_id    62
dtype: int64

排量在3.0L以下的平行进口车有62辆, 占比只有34%.

In [14]:
cars['sale_type'].value_counts()

现车    148
期车     34
Name: sale_type, dtype: int64

车金宝上的平行进口车是现车的数量为148, 占比高达81.3%

In [15]:
cars['version'].value_counts()

中东    65
美规    41
欧规    35
加版    29
墨版     2
Name: version, dtype: int64

可以看到, 中东版和美规的数量高达106个, 占比达到了58.2%. 而这两个地区的车辆价格相对较低. 价格成为了主要市场的主要驱动力.

## 汽车之家车商城平行进口车数据

In [3]:
autohome_cars = pd.read_csv('autohome_cars.csv')

In [4]:
autohome_cars.head()

,spec_id,price,item_id,name,official_price,brand,level,engine
0,11000264,NaN,372013,奔驰GLS450 2017款 3.0T汽油版,134.3万,奔驰,大型SUV,3.0T 汽油
1,11000316,NaN,256992,2017款 2.3T美规自动挡标配,400000,福特(进口),跑车,2.3T 314马力 L4
2,11000336,NaN,286370,2017款中东版兰德酷路泽4.0,898000,美国洛杉矶汽车改装有限公司,中大型SUV,1GR
3,11000095,NaN,313419,2017款 4.0L 低配中东版,565000,日产(进口),大型SUV,4.0L 269马力 V6
4,11000095,NaN,284302,2017款 4.0L 低配中东版,565000,日产(进口),大型SUV,4.0L 269马力 V6

In [8]:
autohome_cars['level'].value_counts()

中大型SUV            1798
大型SUV             1036
全尺寸SUV             384
中大型车               307
跑车                 252
MPV                251
中型SUV              212
-                  182
大型车                150
高端皮卡               120
SUV                 75
三厢车                 71
中大型suv              36
中大型SUV              30
全尺寸suv              26
皮卡                  22
小型SUV               17
中型车                 15
紧凑型SUV              14
轿车                   9
高级皮卡                 8
5085*1984*1796       8
软顶敞篷车                7
大型mpv                3
紧凑型车                 3
大中型SUV               2
微型车                  2
5门5座SVU              1
大型皮卡                 1
Name: level, dtype: int64

# [中国海关总署公开数据](http://www.customs.gov.cn/)

## 2014年汽车进口总量

In [57]:
import_cars_2014_2017 = {
    '2014': {
        '总量': 0,
        '轿车': 469641,
        'SUV': 589017,
        '小客车': 344199,
        '货车': 9590,
        '非公路用自卸车': 107,
        '专用汽车': 298,
        '30座以上客车': 68,
        '10至29座客车': 963,
        '装有引擎的汽车底盘': 1455
    },
    '2015': {
        '总量': 0,
        '轿车': 352461,
        'SUV': 471757,
        '小客车': 264332,
        '货车': 4883,
        '非公路用自卸车': 39,
        '专用汽车': 211,
        '30座以上客车': 63,
        '10至29座客车': 836,
        '装有引擎的汽车底盘': 2208
    },
    '2016': {
        '总量': 0,
        '轿车': 377373,
        'SUV': 465739,
        '小客车': 206190,
        '货车': 7694,
        '非公路用自卸车': 27,
        '专用汽车': 179,
        '30座以上客车': 14,
        '10至29座客车': 723,
        '装有引擎的汽车底盘': 1937
    },
    '2017.6': {
        '总量': 0,
        '轿车': 216751,
        'SUV': 254788,
        '小客车': 106276,
        '货车': 6257,
        '非公路用自卸车': 3,
        '专用汽车': 85,
        '30座以上客车': 13,
        '10至29座客车': 343,
        '装有引擎的汽车底盘': 771
    },
    '2017.9': {
        '总量': 0,
        '轿车': 339332,
        'SUV': 397144,
        '小客车': 161399,
        '货车': 7952,
        '非公路用自卸车': 7,
        '专用汽车': 130,
        '30座以上客车': 19,
        '10至29座客车': 719,
        '装有引擎的汽车底盘': 1087
    }
}

In [58]:
import pandas as pd
import_cars_2014_2017_df = pd.DataFrame(import_cars_2014_2017)

In [59]:
import_cars_2014_2017_df

             2014    2015    2016  2017.6  2017.9
10至29座客车      963     836     723     343     719
30座以上客车        68      63      14      13      19
SUV        589017  471757  465739  254788  397144
专用汽车          298     211     179      85     130
小客车        344199  264332  206190  106276  161399
总量              0       0       0       0       0
装有引擎的汽车底盘    1455    2208    1937     771    1087
货车           9590    4883    7694    6257    7952
轿车         469641  352461  377373  216751  339332
非公路用自卸车       107      39      27       3       7

In [60]:
import_cars_2014_2017_df = import_cars_2014_2017_df.T

In [61]:
import_cars_2014_2017_df['总量'] = import_cars_2014_2017_df.apply(lambda x:x.sum(), axis=1)

In [62]:
import_cars_2014_2017_df

,10至29座客车,30座以上客车,SUV,专用汽车,小客车,总量,装有引擎的汽车底盘,货车,轿车,非公路用自卸车
2014,963,68,589017,298,344199,1415338,1455,9590,469641,107
2015,836,63,471757,211,264332,1096790,2208,4883,352461,39
2016,723,14,465739,179,206190,1059876,1937,7694,377373,27
2017.6,343,13,254788,85,106276,585287,771,6257,216751,3
2017.9,719,19,397144,130,161399,907789,1087,7952,339332,7

In [63]:
import_cars_2014_2017_df['民用车总量'] = import_cars_2014_2017_df['轿车'] + import_cars_2014_2017_df['SUV'] + import_cars_2014_2017_df['小客车']

In [64]:
import_cars_2014_2017_df

,10至29座客车,30座以上客车,SUV,专用汽车,小客车,总量,装有引擎的汽车底盘,货车,轿车,非公路用自卸车,民用车总量
2014,963,68,589017,298,344199,1415338,1455,9590,469641,107,1402857
2015,836,63,471757,211,264332,1096790,2208,4883,352461,39,1088550
2016,723,14,465739,179,206190,1059876,1937,7694,377373,27,1049302
2017.6,343,13,254788,85,106276,585287,771,6257,216751,3,577815
2017.9,719,19,397144,130,161399,907789,1087,7952,339332,7,897875

数据来自中国海关总署,可以看到虽然在2015年和2016年民用车整车进口数量持续下滑, 但是随着2017年1月1日开始实施的关税调整方案和2017年5月11日平行进口车试点范围扩大到9个省市之后, 2017年的汽车进口总量和民用车进口总量预计会实现同比增长.

# 平行进口车数据
[2013年-2016年数据来自万高汽车](http://www.imvango.com/newsDetail.html?id=268)

In [65]:
parallel_import_cars_2014_2017 = {
    '2014': 109566,
    '2015': 114261,
    '2016': 132877,
    '2017.6': 81649
}

In [66]:
parallel_import_cars_2014_2017_series = pd.Series(parallel_import_cars_2014_2017)

In [67]:
parallel_import_cars_2014_2017_series

2014      109566
2015      114261
2016      132877
2017.6     81649
dtype: int64

为了对比数据, 海关总署公布的2017年1至6月的民用车整车进口量如下:

In [68]:
import_cars_2017_1_6 = {
    '轿车': 216751,
    'SUV': 254788,
    '小客车': 106276,
    '民用车总量': 577815
}

In [69]:
import_cars_2014_2017_df['平行进口车'] = parallel_import_cars_2014_2017_series

In [70]:
import_cars_2014_2017_df

,10至29座客车,30座以上客车,SUV,专用汽车,小客车,总量,装有引擎的汽车底盘,货车,轿车,非公路用自卸车,民用车总量,平行进口车
2014,963,68,589017,298,344199,1415338,1455,9590,469641,107,1402857,109566.0
2015,836,63,471757,211,264332,1096790,2208,4883,352461,39,1088550,114261.0
2016,723,14,465739,179,206190,1059876,1937,7694,377373,27,1049302,132877.0
2017.6,343,13,254788,85,106276,585287,771,6257,216751,3,577815,81649.0
2017.9,719,19,397144,130,161399,907789,1087,7952,339332,7,897875,NaN

In [71]:
import_cars_2014_2017_df['平行进口车/民用车进口总量比例'] = import_cars_2014_2017_df['平行进口车']/import_cars_2014_2017_df['民用车总量']

In [72]:
import_cars_2014_2017_df

,10至29座客车,30座以上客车,SUV,专用汽车,小客车,总量,装有引擎的汽车底盘,货车,轿车,非公路用自卸车,民用车总量,平行进口车,平行进口车/民用车进口总量比例
2014,963,68,589017,298,344199,1415338,1455,9590,469641,107,1402857,109566.0,0.078102
2015,836,63,471757,211,264332,1096790,2208,4883,352461,39,1088550,114261.0,0.104966
2016,723,14,465739,179,206190,1059876,1937,7694,377373,27,1049302,132877.0,0.126634
2017.6,343,13,254788,85,106276,585287,771,6257,216751,3,577815,81649.0,0.141306
2017.9,719,19,397144,130,161399,907789,1087,7952,339332,7,897875,NaN,NaN

平行进口车占民用车整车进口比例的数据在持续增加, 说明市场对于平行进口车的接受程度在逐步提升, 并且得益于国家政策的完善和鼓励扶持, 以及双积分政策正式落地, 平行进口车的比例仍会持续增加.

## [双积分政策](http://www.miit.gov.cn/n1146290/n4388791/c5826378/content.html)
对平行进口车是利好政策.

在工信部, 财政部, 商务部, 海关总署和质量监督检验检疫总局共同发布的"乘用车企业平均燃料消耗量与新能源汽车积分并行管理办法"中第二章"乘用车企业平均染料消耗量积分合算"中第十二条规定, ```未获境外乘用车生产企业授权的进口乘用车供应企业按照前款的规定管理，并自2019年度起实施企业平均燃料消耗量积分核算；但是，核算年度进口量2000辆以下的，暂不实施积分核算。``` 这意味着绝大多数的平行进口车企业, 不在双积分政策的管制下. 这意味着授权经销商的销售车辆数量可能会受到影响, 而平行进口车成为了性能车, 进口车和豪车目标用户的考虑范围.